*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .p{
    background-color: #35b8be;
    height: 70px;
    text-align: center;
    color: #d9d9d9;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.05em;
    padding: 20px;
}

.menu-icon{
    display: none;
}

.p a{
    color: #fff;
}

.logo img{
    width: 55px;
}

.navbar{
    display: flex;
    margin: 20px 50px;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
}

.nav span {
    text-decoration: underline;
}

.nav a{
    padding: 0 15px;
    font-size: 18px;
    color: #000;
    text-decoration: none;
}

.nav img{
    background-color: #35b8be;
    padding: 10px;
    margin: 0 20px;
    border-radius: 10px;
}

/* footer */
.footer{
     min-height: 600px;
     background-color: #b7d5d6;
}

footer{
    display: flex;
    background-color: #b7d5d6;
    padding: 70px;
    list-style-type: none;
    height: 400px;
}

.temp{
    display: flex;
    justify-content: space-between;
    margin: 20px 50px;
}

footer .img-side{
    margin: 20px 50px;
}

footer .img-side img{
    padding: 0 0 10px 0;
}

footer .img-side p{
    font-size: 18px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: #0000007c;
}

footer .temp{
    margin-left: 12rem;
}

.temp a{
    text-decoration: underline;
    color: #00000065 ;
}

.flow li{
    padding: 2rem 0;
    font-size: 16px;
}

.flow h4{
    font-size: 20px;
}

.flow{
    padding: 0 6rem;
}

.base{
    background-color: #b7d5d6;
    display: flex;
    justify-content: space-between;
    place-items: center;
    padding: 120px;
    height: 10px;
}

.base h6{
    font-size: 16px;
}

.base a{
    color: #0000006c;
}

.base img{
    width: 60px;
    margin: 7px;
}

.base p{
    color: #000;
} 
/* @media */

@media only screen and (max-width: 1000px) {
    header{
        display: block;
    }
    header .p{
        display: block;
        height: 50px;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0.05em;
        padding: 20px;
    }
    @media screen and (max-width: 500px){
        header .p{
            display: none;
        }
    }
    .logo img{
        padding-top: .5rem;
        width: 40px;
        margin-left: 0px;
    }
    .nav a{
        display: none;
    }
    .menu-icon{
        display: block;
    }
    .nav img{
        margin-top: 0rem;
        display: block;
        width: 45px;
        margin-left: 18rem;
    }

    .navbar{
        display: flex;
        margin: 20px 40px;
    }

    .nav{
        margin-right: 0px;
    }

    .menu-icon img{
        margin-top: .4rem;
        background-color: #fff4f4;
        width: 50px;
        height: 45px;
    }

    /* footer */
    .footer{
        min-height: 1000px;
        background-color: #b7d5d6;
   }

    footer{
    display: block;
    background-color: #b7d5d6;
    padding: 60px 0;
    list-style-type: none;
    min-height: 400px;
    }
    
    .temp{
        display: inline;
        margin: 0 0;
    }

    footer .img-side{
        margin: 0 3rem;
    }

    footer .img-side p{
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.05em;
        color: #0000007c;
        margin: 0;
    }

    footer .temp{
        margin-left: 0rem;
    }

    .flow{
        margin: 0 0rem;
    }

    .flow li{
        padding: 1rem 0;
        font-size: 16px;
    }

    .flow h4{
        font-size: 18px;
        padding-top: 40px;
    }
    
    .flow{
        padding: 0 3rem;
    }

    .base{
        display: block;
        align-items: center;
        padding: 0px;
        min-height: 10px;
        position: relative;
        top: 27rem;
    }

    .base h6{
        font-size: 12px;
        text-align: center;
    }
    
    .base a{
        color: #0000006c;
    }
    
    .base img{
        width: 70px;
        margin: 0;
        padding: 30px 20px;
    }
    

}